/* external css: flickity.css */
@import "https://fonts.googleapis.com/css?family=Pontano+Sans|Varela+Round";

.projects-holder {
  width: 100%;
  padding: 10px 20px 40px 20px;
  background-color: rgba(255, 255, 255, .8);
}

.gallery {
  padding: 0px 30px 0px;
}

.gallery-cell {
  width: 100%;
  height: auto;
  padding: 20px;
}

.project-img {
  width: 450px;
  height: 300px;
  margin-left: 20px;
}

.project-title {
  margin-bottom: 0px;
  font-size: 30px;
  font-weight: bold;
}

.project-text {
  float: right;
  width: 400px;
  height: auto;
  font-size: 16px;
  font-weight: 500;
  margin-right: 20px;
}

.project-link {
  color: white;
  font-size: 18px;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  text-decoration: none;
}

.project-link.green {
  background-color: green;
}

.project-link.red {
  background-color: red;
}

@media screen and (max-width: 1366px) {

  .project-img {
    width: 450px;
    height: 300px;
    margin-left: 20px;
  }
}