@import "https://fonts.googleapis.com/css?family=Oleo+Script:400,700";

.navbar {
    color: #FFF;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navbar::after {
    content: "";
    display: block;
    /*filter: blur(5px);*/
    opacity: .98;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #AFAFAFFF;
}

.navbar * {
	z-index: 2;
}

.navbar-brand {
	font-family: 'Oleo Script', cursive;
	font-size: 30px;
}

.nav-link {
	color: #FFF;	
}

.navbar-inner {
    background:transparent;
}